  <h1 class="d-flex justify-content-center align-items-center vertical-center" *ngIf="tokenExist()">Hi! <b> {{decodedToken?.nameid}} </b></h1>
  <div class="d-flex justify-content-center align-items-center vertical-center" style="height:100px;">
    <div class="form-group">
      <button class="btn btn-success" (click)="getToken()">Get and save token</button>
    </div>
  </div>
  <!-- <div class="form-group d-flex justify-content-center align-items-center vertical-center">
    <a class="btn btn-primary" [routerLink]="['/private']" routerLinkActive="router-link-active">Private</a>
    <a class="btn btn-info" [routerLink]="['']" routerLinkActive="router-link-active">Home</a>
  </div> -->
<!-- <router-outlet></router-outlet> -->
